<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>

<label>Note taking website</label>

</body>
</html>
