{{define "header"}}
<nav id="nav">
  <ul>
    <li id="first">
      <a href="#"><span class="icon fa-copy"></span><span class="desktop">Create Notes</span></a></li>
    <li><a href="/login"><span class="icon fa-user"></span><span class="desktop">Login/Register</span></a></li>
  </ul>
</nav>
{{ end }}
