<!DOCTYPE html>
<!--{{define "login"}}-->
<html >
<head>
    <meta charset="UTF-8">
    <title> Login Form</title>

    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>


<div id="wrapper">
    <div class="join">Login</div>
    <div class="lock"></div>
    <div class="clr"></div>
    <div class="login-options">Choose one of the following login methods.</div>
    <a class="dropbox" href="#">Dropbox</a>
    <a class="github" href="#">GitHub</a>
    <a class="google" href="#">Google+</a>
    <div class="clr"><hr /></div>
    <div class="mail-text">Or login with your username and password:</div>
    <div class="forms">
        <form action="" method="get" name="register">
            <input name="username" type="text" placeholder="Enter your username..." size="70"  id="user"/>
            <input name="password" type="password" placeholder="Enter a password..." size="70"  id="password"/>
        </form>
    </div>
    <a class="create-acc" href="login.html">Login!</a>
    <a class="or" >or</a>
    <a class="sign-up" href="register.html">Register Today!</a>




</div>
</body>
</html>    
<!--{{end}}-->