<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Custom Login Form</title>

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>

<body>

<div id="wrapper">
    <div class="join">Join Today</div>
    <div class="lock"></div>
    <div class="clr"></div>
    <div class="login-options">Choose one of the following sign up methods.</div>
    <a class="dropbox" href="#">Dropbox</a>
    <a class="github" href="#">GitHub</a>
    <a class="google" href="#">Google+</a>
    <div class="clr"><hr /></div>
    <div class="mail-text">Or sign up using your email address.</div>
    <div class="forms">
        <form action="" method="get" name="register">
            <input name="Full name" type="text" placeholder="Enter your full name..." size="70"  id="name"/>
            <input name="username" type="text" placeholder="Enter your username..." size="70"  id="user"/>
            <input name="email" type="text" placeholder="Enter your email address..." size="70"  id="mail"/>
            <input name="password" type="password" placeholder="Enter a password..." size="70"  id="password"/>
        </form>
    </div>
    <a class="create-acc" href="register.html">Create My Account</a>
    <a class="sign-up" href="login.html">Login!</a>

</div>

</body>
</html>