{{define "svg-tpl-footer"}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
{{template "svg-facebook"}}
    {{template "svg-weibo"}}
    {{template "svg-linked-in"}}
    {{template "svg-ok-ru"}}
    {{template "svg-twit"}}
    {{template "svg-instagram"}}
    {{template "svg-renren"}}
    {{template "svg-youtube"}}
    {{template "svg-vk"}}
    {{template "svg-google-plus"}}
</svg>
{{end}}