{{define "svg-tpl-course-lecture-watch"}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    {{template "svg-arrow-left"}}
    {{template "svg-play"}}
    {{template "svg-pause"}}
    {{template "svg-fullscreen"}}
    {{template "svg-fullscreen-exit"}}
</svg>
{{end}}
