<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Project NoteOrious</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/public/assets/css/main.css" />
		<link rel="stylesheet" href="/public/assets/css/user-profile.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
			{{ template "header" .}}
		<!-- Wrapper -->
		<div id="profile">
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<section id="profile-picture-section">
							{{ if .Data.Avatar }}
							<label id="user-picture"></label>
							{{ else }}
							<label id="user-picture" class="fa fa-user"></label>
							{{ end }}
							<label id="user-name">{{ .Data.First }} {{ .Data.Last }}</label>
							<div id="seperator"></div>
						</section>
						<section id="profile-bio-section">
							<label id="bio-tag">Biography:</label>
							<div id="seperator"></div>
							<label id="bio">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Nam at leo at turpis faucibus vulputate eget eget lorem. Suspendisse suscipit ut arcu sit amet sodales.
								Ut mollis justo hendrerit risus elementum faucibus.
								Suspendisse porttitor dui sit amet augue tempor, eu vulputate nisi pulvinar. In hac habitasse platea dictumst.
								Maecenas maximus ipsum eget consequat viverra. Morbi viverra arcu quis ligula scelerisque, et pellentesque ex sodales.
								Aenean ullamcorper vel metus nec placerat. Morbi nec euismod arcu, quis convallis mi.
								Phasellus non libero sit amet neque lobortis posuere eu quis enim. Morbi eros neque, cursus eget nibh vitae, feugiat rhoncus ipsum.
								Morbi tempus dignissim odio, fringilla efficitur mauris eleifend nec. Ut ut luctus leo.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in tortor odio.
							</label>
						</section>


					</header>

				<!-- Main -->
					<div id="main">


					</div>

			</div>
		</div>

		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/skel.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>
