body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background: #2b2b2b;
}


label {
    align-items: center;
    font-family: sans-serif;
    font-size: 5rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background: black;
    text-transform: uppercase;
}
