#gth-header-area header {
    background: #3F51B5;
}

#gth-header-area #blank {
    display: none;
}

#gth-header-area #title {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#gth-header-area #flyout {
    display: none;
}

#gth-header-area .logo-group {
    color: #FFFFFF;

    -webkit-transition: color 0.5s;
            transition: color 0.5s;
}

#gth-header-area .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    font-size: 3rem;
    color: inherit;
}

#gth-header-area .logo-text {
    padding-left: 0.7rem;

    font-size: 1.4rem;
    font-weight: 400;
    color: inherit;
    letter-spacing: 0.5rem;
}

#gth-header-area .logo-group:hover {
    color: #DBDBDB;
}

#gth-header-area header .nav-desktop {
    position: relative;
    padding-top: 0.2rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    color: white;
}

#gth-header-area header .nav-desktop > * {
    margin-right: 0.4rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#gth-header-area header .nav-desktop > *:nth-child(3) {
    margin-right: 1rem;

    width: 130px;
}

#gth-header-area header .nav-desktop > *:nth-child(3) a {
    padding: 0.75rem 1rem;
    border: 2px solid #EDEFED;

    -webkit-transition: 0.1s;
            transition: 0.1s;
}

#gth-header-area header .nav-desktop a {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    border-radius: 3px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

    font-size: 0.75rem;
    font-weight: 300;

    -webkit-transition: 0.1s;
            transition: 0.1s;
}

.search {
    margin-right: 0;
}

#gth-header-area header .nav-desktop a:hover,
.search label:hover {
    cursor: pointer;

    background-color: rgba(255,255,255,0.2);
}

#gth-header-area .svg {
    border-radius: 50%;

    width: 1.5rem;
    height: 1.5rem;

    background-color: transparent;

    fill: #607D8B;
}

#gth-header-area .user-avatar {
    margin-right: 0;
    margin-bottom: 0.2rem;
    border-radius: 50%;

    width: 2.5rem;
    height: 2.5rem;

    background-color: #BDBDBD;

    fill: white;
}

#gth-header-area #login-mobile {
    display: none;
}

#gth-header-area .tooltip {
    position: relative;
}

#gth-header-area .tooltip .tooltip-text {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 0.5rem;
    margin-left: -150px; /* Negative half of width */
    border-radius: 6px;

    z-index: 3;
    display: none;
    /* Tooltip size */
    width: 280px;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.6);
}

#gth-header-area .tooltip:hover .tooltip-text {
    display: block;
}

#gth-header-area .tooltip:hover .tooltip-text:hover {
    background: rgba(0, 0, 0, 0.4);
}

#gth-header-area .tooltip .tooltip-text::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px; /* Matches negative border-width */
    /* Arrow size */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;

    content: " ";
}

#gth-header-area #search-box-label {
    padding: 0.6rem;
    border-radius: 2px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-transition: 0.1s;
            transition: 0.1s;
}

#gth-header-area .magnifier,
.cart {
    width: 25px;
    height: 25px;

    fill: white;
}

#gth-header-area header .nav-desktop a.shopping-cart {
    padding: 0 0.6rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#gth-header-area label:hover ~ #profile-dropdown-desktop {
    opacity: 1;

    visibility: visible;
}

#gth-header-area #profile-dropdown-desktop {
    position: absolute;
    top: 55px;
    right: 0;
    border-radius: 2px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    opacity: 0;

    color: #565A61;
    visibility: hidden;

    background-color: white;

    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
}

#gth-header-area #profile-dropdown-desktop:hover {
    opacity: 1;

    visibility: visible;
}

#gth-header-area .nav-desktop .profile-dropdown-items {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;

    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 300;
}

#gth-header-area .nav-desktop .profile-dropdown-items:hover {
    background-color: #EDEFED;
}

#gth-header-area .profile-dropdown-items .svg {
    margin-right: 1.5rem;

    width: 1.5rem;
    height: 1.5rem;
}

#gth-header-area #profile-dropdown-desktop::before {
    position: absolute;
    top: -7px;
    right: 13px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;

    z-index: 1;
    width: 0;
    height: 0;

    content: '';
}

#gth-header-area .divider {
    border-radius: 5px;

    width: 90%;

    background-color: #EDEFED;
}

#gth-header-area-blur {
    display: none;
}

.right-container {
    display: none;
}

#search-box-mobile {
    padding-bottom: 10px;

    font-size: 4rem;
}

#fullscreen-search #fs-search-form .magnifier {
    width: 72px;
    height: 72px;
}

.fs-category {
    width: 801px;
    /*height: 700px;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.category-card {
    margin: 4px;
    border-radius: 1px;

    width: 200px;
    height: 150px;
    flex-direction: column-reverse;
    justify-content: center;

    color: white;

    background-color: blue;

    transition: 0.2s ease;
}

.category-card svg {
    position: relative;
}

.category-card:hover {
    transform: scale(1.05);
}

.fs-category .category-card:nth-child(1),
.fs-category .category-card:nth-child(5),
.fs-category .category-card:nth-child(9) {
    width: 300px;
}
