#gth-header-area {
    align-self: stretch;

    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
}

input[type="checkbox"] {
    display: none;
}

#side-bar svg {
    padding-right: 1rem;

    width: 24px;
    height: 24px;

    fill: #009688;
}

#gth-header-area #side-bar label {
    font-weight: 300;
}

#gth-header-area #flyout #side-bar {
    position: fixed;
    top: 0;
    bottom: 0;

    z-index: 10;

    -webkit-transition: -webkit-transform 0.5s;
            transition:         transform 0.5s;
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
}

#gth-header-area #flyout-open:checked + #flyout #side-bar {
    width: 100%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.6);

    -webkit-transform: translateX(0);
            transform: translateX(0);
}


#top-bar {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160px;

    background: #009688;
}

#top-bar svg.svg-bg {
    position: absolute;
    top: -96px;

    width: 320px;
    height: 320px;
    opacity: 0.5;

    fill: white;
    stroke: white;
}

#top-bar svg {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 13px;

    -webkit-transition: 0.5s;
            transition: 0.5s;

    fill: white;
}

#sign-in svg {
    position: relative;
    bottom: -3px;
    padding: 0 5px 0 0;

    -webkit-transition: none;
            transition: none;
}

#profile-img img.user-avatar,
#profile-img svg.user-avatar,
#top-bar svg.svg-user {
    position: absolute;
    top: 19px;
    left: 19px;
    padding: 0;
    border-radius: 50%;

    width: 72px;
    height: 72px;

    background-color: #BDBDBD;

    -webkit-transition: none;
            transition: none;

    fill: white;
}

#profile-btn-mobile {
    display: none;
}

#profile-btn-mobile:checked ~ #top-bar svg.svg-caret {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}

#top-bar a#sign-in,
#top-bar p {
    padding: 3px 3px 13px 13px;

    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    -ms-flex-item-align: end;
}

#top-bar p #first-name {
    padding-left: 3px;

    width: 160px;
    overflow: hidden;

    font-weight: 700;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#hidden-bar .profile-dropdown-items .svg {
    padding: 0 0 0 16px;

    width: 24px;
    height: 24px;
}

#gth-header-area .hidden-items {
    position: relative;
    padding: 11px 11px 11px 16px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 48px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}

#gth-header-area .hidden-items .svg {
    width: 24px;
    height: 24px;

    fill: white;
}

#bottom-bar.bottom-bar-class {
    -webkit-transform: translateY(-12rem);
            transform: translateY(-12rem);
}

#bottom-bar {
    background: white;

    -webkit-transition: -webkit-transform 0.3s;
            transition:         transform 0.3s;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
}

#profile-btn-mobile:checked ~ #bottom-bar {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

#flyout .category.icon {
    margin-right: 16px;

    width: 24px;
    height: 24px;

    stroke: transparent;
}

#flyout-browse svg.icon.icon-biz {
    position: relative;
    bottom: -3px;
    padding: 0 5px 0 0;

    width: 24px;
    height: 24px;

    stroke: transparent;
}

#hidden-bar {
    position: relative;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;

    background: #00796B;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}


a#all-category-header svg {
    fill: #607D8B;
}

a#technology-category-header svg {
    fill: #0289C7;
}

a#productivity-category-header svg {
    fill: #8555A4;
}

a#business-category-header svg {
    fill: #105099;
}

a#design-category-header svg {
    fill: #324192;
}

a#academics-category-header svg {
    fill: #006871;
}

a#creative-category-header svg {
    fill: #005349;
}

a#music-category-header svg {
    fill: #A83E3E;
}

a#life-category-header svg {
    fill: #4C2BBF;
}

#gth-header-area header {
    position: relative;
    padding: 7px;

    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    background: #3F51B5;
}

#gth-header-area header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#gth-header-area #blank {
    width: 64px;
}

#gth-header-area #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#gth-header-area .logo-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#gth-header-area .logo {
    display: none;
    width: 40px;
    height: 40px;
}

#gth-header-area .logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: lowercase;
}

#gth-header-area #flyout {
    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 1004;
    width: 260px;

    -webkit-transition: -webkit-transform 0.5s;
            transition:         transform 0.5s;
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
}

#gth-header-area #flyout-open:checked + #flyout {
    position: fixed;

    z-index: 1003;

    -webkit-transform: translateX(0);
    /*left: 0;*/
            transform: translateX(0);
}

#gth-header-area #flyout > section {
    position: relative;

    z-index: 2;
    height: 100%;
    overflow-y: auto;

    font-size: 1.7rem;

    background-color: white;

    -webkit-transition: 0.5s;
            transition: 0.5s;
}

#gth-header-area #flyout > section h1 {
    padding: 16px;
    border-top: 1px solid #DDDDDD;

    font-size: 0.8rem;
    font-weight: normal;
}

#gth-header-area #hamburger-button {
    position: absolute;
    top: -6px;
    right: -65px;

    z-index: 2;
    width: 68px;
    height: 68px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-transition: stroke 0.6s linear;
            transition: stroke 0.6s linear;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);

    stroke: white;
}

#gth-header-area .burger-bun-top,
#gth-header-area .burger-bun-bot,
#gth-header-area .burger-filling {
    background-color: white;
}

#gth-header-area #flyout-open:checked + #flyout #hamburger-button {
    stroke: white;
}

#gth-header-area #flyout-open:checked + #flyout .burger-bun-top,
#gth-header-area #flyout-open:checked + #flyout .burger-bun-bot,
#gth-header-area #flyout-open:checked + #flyout .burger-filling {
    background-color: white;
}

#gth-header-area #bottom-bar a,
#gth-header-area #bottom-bar label {
    padding: 11px 11px 11px 16px;

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}

#gth-header-area-blur {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1002;
    /*width: 100vw;*/
    height: 200%;

    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.6);
}

#gth-header-area #flyout-open:checked ~ #gth-header-area-blur {
    visibility: visible;
}

#gth-header-area #login-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 64px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    color: white;
}

#gth-header-area #login-mobile a {
    padding: 0.5rem;

    font-weight: 500;
}

#gth-header-area header .nav-mobile {
    display: none;
}

#gth-header-area #flyout-browse a {
    padding: 0.7rem 0.7rem 0.7rem 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.9rem;
    font-weight: 300;
}

#gth-header-area #flyout-browse label {
    position: relative;
    padding: 0.8rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    font-size: 1.2rem;
    font-weight: 300;
    color: white;

    background: #3F51B5;
}

#gth-header-area #flyout-browse-btn:checked ~ #flyout-browse,
#gth-header-area #flyout-browse-btn ~ #side-bar {
    position: fixed;

    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

#gth-header-area #flyout-open:checked ~ #flyout > #flyout-browse-btn:checked ~ #flyout-browse {
    left: 0;
}

#gth-header-area #flyout-browse-btn ~ #flyout-browse {
    position: fixed;

    z-index: 99;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    -webkit-transform: translateX(-260px);
            transform: translateX(-260px);
    /*left: -230px;*/
}

#gth-header-area #flyout-open ~ #flyout > #flyout-browse-btn:checked ~ #flyout-browse {
    max-width: 100%;

    -webkit-transform: translateX(0);
            transform: translateX(0);
}

#gth-header-area .nav-desktop {
    display: none;
}

#gth-header-area .alert {
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 30px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 0.7rem;
    font-weight: bold;
    color: white;
}

#gth-header-area .alert-red {
    background-color: #F96358;
}
#gth-header-area .alert-green {
    background-color: #4DB6AC;
}

.right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-items {
    width: 1.5rem;
    height: 1.5rem;
}

.right-container svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;

    fill: white;
}

.right-container .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#fullscreen-search {
    position: absolute;
    top: 0;
    bottom: 0;

    z-index: 1001;
    /*border-radius: 50% 0 0 50%;*/
    width: 100%;

    visibility: hidden;
    /*background-color: rgba(0, 150, 136, 0.9);*/

    background-image: linear-gradient(rgba(0, 150, 136, 0.9) 60%, rgba(0, 150, 136, 0.9) 10%, rgba(0,0,0,0));

    transition: transform 0.3s ease, visibility 0s 0.3s;
    transform: translate(0, -100%);
}

#search-box-checkbox:checked ~ #fullscreen-search #fs-search-form {
    animation-name: grow;
    animation-duration: 0.35s;
    animation-delay: 0.2s;

    animation-fill-mode: forwards;
}

#fs-search-form {
    position: relative;
    padding-top: 142px;
    margin: 0 auto;
    border-bottom: 2px solid rgba(255,255,255,0.7);

    display: flex;
    width: 90%;
    opacity: 0;
}

#fullscreen-search #fs-search-form .magnifier {
    width: 36px;
    height: 36px;

    cursor: pointer;

    transition: 0.2s;

    fill: rgba(255,255,255,0.7);
}

#fullscreen-search #fs-search-form .magnifier:hover {
    fill: rgba(255,255,255,0.9);
}

#search-box-mobile {
    padding-bottom: 5px;

    display: flex;
    width: 100%;

    font-size: 1.9rem;
    color: rgba(255,255,255,0.8);

    background-color: transparent;
}

#search-box-mobile::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
}

#search-box-mobile::-moz-placeholder {
    color: rgba(255,255,255,0.7);
}

#search-box-mobile:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
}

#search-box-mobile::placeholder {
    color: rgba(255,255,255,0.7);
}


#search-box-checkbox:checked ~ #fullscreen-search {
    border-radius: 0;

    visibility: visible;

    transition-delay: 0s, 0s, 0s;
    transform: translate(0,0);
}

.fs-category {
    margin: 40px auto;
    /*height: 700px;*/

    display: flex;
    width: 90%;
    flex-direction: column;
}

.category-card {
    position: relative;
    margin: 4px;
    border-radius: 2px;

    display: flex;
    height: 60px;
    align-items: center;
    opacity: 0;

    font-size: 1.2rem;
    color: rgba(255,255,255,0.8);

    background-color: blue;
}

.category-card span {
    margin: 0 auto;
}

#search-box-checkbox:checked ~ #fullscreen-search .category-card {
    animation-name: grow;
    animation-duration: 0.35s;

    animation-fill-mode: forwards;
}

@keyframes grow {
    from {
        /*-webkit-transform: translate(0, 100%);
                transform: translate(0, 100%);*/
        top: 40px;

        opacity: 0;
    }
    to {
        /*-webkit-transform: none;
                transform: none;*/
        top: 0;

        opacity: 1;
    }
}

.category-card svg {
    position: absolute;
    padding: 10px;

    width: 40px;
    height: 40px;

    fill: rgba(255,255,255,0.7);
}

#fs-technology {
    background-color: #039BE5;

    animation-delay: 0.3s;
}

#fs-productivity {
    background-color: #A96CD1;

    animation-delay: 0.4s;
}

#fs-business {
    background-color: #1565C0;

    animation-delay: 0.5s;
}

#fs-design {
    background-color: #3F51B5;

    animation-delay: 0.6s;
}

#fs-academics {
    background-color: #00838F;

    animation-delay: 0.7s;
}

#fs-creative {
    background-color: #00695C;

    animation-delay: 0.8s;
}

#fs-music {
    background-color: #D6504F;

    animation-delay: 0.9s;
}

#fs-life {
    background-color: #5E35B1;

    animation-delay: 0.8s;
}

#fs-all-category {
    background-color: #607D8B;

    animation-delay: 0.9s;
}
