body{
    background-color:transparent;
    display: block;

}

.profile-settings {
    display: flex;
    padding-top: 15%;
    justify-content: center;
    align-items: center;
}

.profile-settings .row {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
}


.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.page-header{
background: pink;
    text-align: center;
    display: block;
    margin-left: center;
    margin-right: center;
    font-size: 50px;
}
h6{
    text-align: center;
}

h3{
    text-align: center;
}
.form-group{
    text-align: center;
}
.forfun{
    text-align: center;

}
.for1{
    text-align: center;


}
.container{
    background: lightwhite;

}

.col-lg-8 {
    color: #656565;
}

input#avatar-input {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

img.user-avatar {
    height: 200px;
    width: 200px;
}

label.col-lg-3.control-label {
    margin: 1em;
}
