section#profile-picture-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    background-color: white;
    padding: 3em 1em;
    border-top: solid 50px #8171ad;
}

#profile #header {
    padding: 4em 0 0 0;
    display: flex;
    height: 90vh;
}

#note-box div {
    display: flex;
    align-items: center;
}

#note-box svg#pencil {
    width: 90px;
    height: 90px;
}

#header svg#pencil {
    position: absolute;
    top: 270;
    height: 150px;
    width: 150px;
    left: 250;
}

#profile #user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 200px;
    font-size: 160px;
    background-color: #adadad;
    color: #e7ebec;
    border: solid 5px;
    border-radius: 100%;
}

#profile #user-name {
    padding: 2rem 2rem .5rem 2rem;
    color: #808080;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
    line-height: 2rem;
    margin: 0;
}

#profile #seperator {
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    height: 2px;
    width: 220px;
}

#profile #profile-bio-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    color: grey;
    border-radius: 10px;
    background-color: white;
    margin: 3em 3em auto 3em;
}

#profile #bio-tag {
    font-size: 1.5rem;
    color: #656565;
    font-family: sans-serif;
    margin: .3rem;
}

#profile #bio {
    font-weight: 100;
    font-size: 1rem;
    margin: 0;
}

#profile-bio-section #seperator {
    margin-bottom: .3rem;
    width: 100%;
}

#profile #main {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0;
    background: none;
    margin-bottom: 5rem;
}

img.user-avatar {
    border-radius: 100%;
    width: 190px;
}

#profile #user-edit a {
    border-bottom: solid 1px;
    cursor: pointer;
}

#profile #user-edit {
    margin: 1rem 0 0 0;
    color: #adadad;
    padding: 2px 20px;
    border-radius: 8px;
}

#profile #user-edit a:hover {
    color: #969696;
    cursor: pointer;
}

#profile .note-card a {
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border: solid 5px rgba(129, 113, 173, 0.57);
    color: rgba(129, 113, 173, 0.57);
    background-color: rgba(191, 227, 241, 0);
    display: flex;
    padding: 1rem;
    font-size: 4rem;
    height: 15vh;
    width: 15vh;
}

.note-card {
    display: flex;
    margin: 1rem;
    width: 30vh;
    height: 45vh;
    background-color: white;
    border-bottom: solid 1.5rem #8171ad;
    border-top: solid 1.5rem #8171ad;
}

#profile #note-box {
    display: flex;
    width: 30vh;
    flex-direction: column;
    margin: 0;
}

#note-box #title {
    font-size: 1rem;
    height: 100px;
    margin: 0 1rem 0 1rem;
    font-weight: 100;
    color: #656565;
}

.note-select {
    font-size: 1rem !important;
    padding: 0 !important;
    height: 1rem !important;
    color: grey !important;
    border: none !important;
}

#note-selections {
    position: relative;
    display: flex;
}

.note-select {
  cursor: pointer;
  font-size: 1rem !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 60px !important;
  color: grey !important;
  border: 0 !important;
}

.note-select:hover {
    background-color: rgb(183, 174, 208) !important;
    color: white !important;
}
