<!doctype html>
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.1.5/quill.js"></script>
<script src="//cdn.quilljs.com/1.1.5/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.1.5/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.1.5/quill.bubble.css" rel="stylesheet">


<!-- CKEDITOR LIBRARY -->
<!-- <script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script> -->


<!-- Core build with no theme, formatting, non-essential modules -->
<link href="//cdn.quilljs.com/1.1.5/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.1.5/quill.core.js"></script>

<!-- <script>
// Initialize editor with custom theme and modules
var fullEditor = new Quill('#quill-wrapper', {
  modules: {
    'authorship': { authorId: 'galadriel', enabled: true },
    'multi-cursor': true,
    'toolbar': { container: '#full-toolbar' },
    'link-tooltip': true
  },
  theme: 'snow'
});

// Add basic editor's author
var authorship = fullEditor.getModule('authorship');
authorship.addAuthor('gandalf', 'rgba(255,153,51,0.4)');

// Add a cursor to represent basic editor's cursor
var cursorManager = fullEditor.getModule('multi-cursor');
cursorManager.setCursor('gandalf', fullEditor.getLength()-1, 'Gandalf', 'rgba(255,153,51,0.9)');

// Sync basic editor's cursor location
basicEditor.on('selection-change', function(range) {
  if (range) {
    cursorManager.moveCursor('gandalf', range.end);
  }
});

// Update basic editor's content with ours
fullEditor.on('text-change', function(delta, source) {
  if (source === 'user') {
    basicEditor.updateContents(delta);
  }
});

// basicEditor needs authorship module to accept changes from fullEditor's authorship module
basicEditor.addModule('authorship', {
  authorId: 'gandalf',
  color: 'rgba(255,153,51,0.4)'
});

// Update our content with basic editor's
basicEditor.on('text-change', function(delta, source) {
  if (source === 'user') {
    fullEditor.updateContents(delta);
  }
});
</script> -->
<style type = "text/css">

body
{
	font-family: arial, helvetica, freesans, sans-serif;
	font-size: 100%;
	color: #333;
	background-color: #ddd;
}

.box
{
	position: relative;
	width: 45vw;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

h1, h2
{
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}

h2
{
	font-size: 1.3em;
	margin-top: 1.5em;
}

#textbox{
  height: 50vh;
  padding: 20px;
  width: 55vw;
  margin:auto;
}



</style>


<div class="box">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend dapibus massa ac pellentesque. Fusce in quam luctus, fringilla lacus sit amet, auctor nisl.
	Nunc interdum urna at ornare fringilla. Nunc faucibus leo et eros sodales mollis. Mauris tristique metus a leo elementum, vitae maximus justo ornare. Praesent eu molestie tortor. Quisque facilisis odio nec ipsum vehicula, eu rutrum odio egestas.
	 Quisque in feugiat ligula. Aliquam erat volutpat. Mauris eget eros semper, sodales leo eget, dapibus enim. Cras id leo vel lectus fermentum ullamcorper. Duis consectetur fermentum lacus, vel varius orci pulvinar non. Suspendisse magna massa, faucibus in odio et, rhoncus elementum tellus. Morbi sit amet mauris id felis varius pretium nec nec massa.
<br>
<br>
  Sed justo arcu, convallis vitae urna nec, mollis feugiat nisl. Praesent egestas, libero sit amet pretium facilisis, orci felis varius est, vitae consequat velit turpis quis magna.
	Morbi at massa a velit convallis gravida. Duis mollis, augue id venenatis cursus, magna nulla ultrices tortor, sit amet accumsan felis libero nec massa. Mauris id pretium eros. Duis scelerisque, dui at commodo dignissim, urna est fermentum tortor, ac eleifend massa ipsum quis enim. Duis felis ipsum, bibendum quis mollis ac, feugiat sit amet odio.
<br>
<br>
  Integer tempor semper sodales. Pellentesque elementum ut ipsum eu pretium. Nulla tortor massa, convallis ut dui at, aliquam lobortis diam. Morbi in velit eget augue rhoncus finibus.
	 Ut et tempor purus. Nullam mattis accumsan eros, a convallis urna pulvinar sit amet. Sed luctus diam nec turpis accumsan, eget porta turpis pharetra. Vestibulum laoreet eros ut nulla euismod eleifend.
	 Nulla dignissim urna id viverra tincidunt. Aliquam semper porta pellentesque. Praesent libero metus, rhoncus accumsan volutpat vitae, egestas at dui. Nunc a eleifend tellus. Pellentesque nibh nibh, volutpat sed enim eget, imperdiet tristique mauris. Morbi tristique tincidunt tincidunt. Nullam eleifend tincidunt lectus eu lacinia. Vivamus efficitur odio et magna fringilla, a consequat dolor mattis.
<br>
<br>
  Integer sagittis nec lacus non ultricies. Cras at nulla ex. Morbi in scelerisque diam. Nullam non ipsum viverra, sagittis sem condimentum, dapibus magna. Cras vel nibh est.
	 Curabitur hendrerit semper iaculis. Ut ac turpis vel enim mattis ultrices in sit amet dui. Aenean iaculis, ante vitae ornare porttitor, velit ipsum cursus enim, non sodales lectus risus nec nisl.
	 Proin posuere imperdiet massa. Sed eu elementum nibh. Pellentesque suscipit dolor imperdiet massa rutrum, non convallis tortor semper. Nam efficitur porta urna. Nulla arcu magna, aliquet venenatis nibh ac, vehicula dapibus quam. Integer bibendum, urna a hendrerit dignissim, eros elit malesuada magna, sed venenatis est purus ac nulla. Etiam commodo imperdiet nibh, eget gravida magna ornare in. Suspendisse potenti.
<br>
<br>
  Ut ornare sem elit, a elementum augue aliquet a. Ut lacinia nulla nisl, a condimentum nisl vulputate ac. Pellentesque ex urna, auctor eget dui eu, viverra ullamcorper nisi.
	 In at ligula felis. Sed iaculis orci ut sem hendrerit laoreet. Nullam tempus ipsum leo, et venenatis elit condimentum ut. Quisque congue a libero nec maximus.
	 Sed nec venenatis tortor, eget egestas velit. Curabitur consequat dui quis odio suscipit, non fringilla mauris finibus. Integer at porttitor ipsum. Donec interdum nunc mi, eget euismod felis gravida in.

</div>

<!-- Include Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<form>
<div id =textbox>

<!-- Create the editor container -->
<input name="writingtext" type="hidden">
<div id="editor">
  <p>Hello World!</p>
</div>

<div class="row">
	<button class="btn btn-primary" type="submit">Save</button>
</div>

</div>
</form>


<!-- <form>
		<textarea name="editor1" id="editor1" rows="10" cols="80">
				This is my textarea to be replaced with CKEditor.
		</textarea>
		<script>
				// Replace the <textarea id="editor1"> with a CKEditor
				// instance, using default configuration.
				CKEDITOR.replace( 'editor1' );
		</script>
</form> -->


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<!-- Initialize Quill editor -->
<script>

var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block', 'video', 'image'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']                                         // remove formatting button
];


  var editor = new Quill('#editor', {
    modules: { toolbar: toolbarOptions },
    theme: 'snow'
  });

//submission form
	var form = document.querySelector('form');
	form.onsubmit = function() {
	  // Populate hidden form on submit
	  var about = document.querySelector('input[name=writingtext]');
	  about.value = JSON.stringify(quill.getContents());

	  console.log("Submitted", $(form).serialize(), $(form).serializeArray());

	  // No back end to actually submit to!
	  alert('Open the console to see the submit data!')
	  return false;
	};


// 	// Store accumulated changes
// var change = new Delta();
// quill.on('text-change', function(delta) {
//   change = change.compose(delta);
// });
//
// // Save periodically
// setInterval(function() {
//   if (change.length() > 0) {
//     console.log('Saving changes', change);
//     /*
//     Send partial changes
//     $.post('/your-endpoint', {
//       partial: JSON.stringify(change)
//     });
//
//     Send entire document
//     $.post('/your-endpoint', {
//       doc: JSON.stringify(quill.getContents())
//     });
//     */
//     change = new Delta();
//   }
// }, 5*1000);
//
// // Check for unsaved data
// window.onbeforeunload = function() {
//   if (change.length() > 0) {
//     return 'There are unsaved changes. Are you sure you want to leave?';
//   }
</script>
