
<!DOCTYPE html>
{{define "profile-settings"}}
<html lang="en">
<head>
    <title>profile-settings</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/profile-settings.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    </head>

<h1 class="page-header">Edit Profile</h1>
<body>


<div class="container" style="padding-top: 60px;">
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">

        <img src="assets/images/user-pro.png" class="displayed" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
    </div>
    <!-- edit form column -->
      <div class= "forfun">
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <i class="fa fa-coffee"></i>
      </div>
          </div>
          </div>
      <h3>Personal info:</h3>

      <form id="edit-avatar-form" action="/editprofileavatar" method="POST"
      enctype="multipart/form-data">
    <div id="avatar-info">
      {{if .User.Avatar}}
<img src="{{getAvatarURL .User.IntID}}" alt="Avatar Image" class="user-avatar">
{{else}}
<svg class="user-avatar">
<use xlink:href="#svg-user"></use>
</svg>
{{end}}        <div class="button-container">
            <label class="button blue-btn">
              {{if .User.Avatar}}Change Avatar
              {{else}}Upload Avatar
              {{end}}
                <input name="avatar" id="avatar-input" type="file" name="avatar"
                       accept=".jpg,.png,.jpeg" onchange='this.form.submit();'>
            </label>
        </div>
    </div>
</form>

      <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
	    <!-- <div class="for1">
		  <h6>Upload a different photo...</h6>
		  <input type="file" name="avatar" accept=".jpg,.png,.jpeg" class="text-center center-block well well-sm">
        </div> -->
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.First}}" name="first" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.Last}}" name="last" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Bio:</label>
          <div class="col-lg-8">
            <input class="form-control" value="{{.User.Bio}}" name="bio" type="text">
          </div>
        </div>
         <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="button1" value="Save Changes" type="submit">
            <span></span>
            <input class="button2" value="Cancel" type="reset" onClick="javascript:location.href = '/profile/{{.User.IntID}}';">
          </div>
        </div>
      </form>
    </div>
  </div>

    </body>
</html>
{{end}}
