<!DOCTYPE html>
{{define "register"}}
<html >
<head>
    <meta charset="UTF-8">

    <title>Register</title>
    <link rel="stylesheet" href="assets/css/login.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
{{ template "header"}}

<div id="wrapper">
  <div id="main">
    <div id="login-left">
      <div class="join">Register</div>
      <div class="lock"></div>
      <div class="clr"></div>
      <div class="login-options">Choose one of the following register methods.</div>
      <ul class="actions">
        <li><a id="dropbox" href="/login/dropbox/oauth/send"><img src="assets/images/dropbox.svg" alt="" />Dropbox</a></li>
        <li><a id="github" href="/login/github/oauth/send "><img src="assets/images/github.svg" alt="" />GitHub</a></li>
        <!-- <li><a id="google" href="#"><img src="assets/images/google-plus.svg" alt="" />Google+</a></li> -->
      </ul>
      <div class="mail-text">Or sign up using your email address.</div>
      <div class="forms">
        <form action="" method="post" name="register">
            <input name="first" type="text" placeholder="Enter your first name..." size="70"  id="first-name"/>
            <input name="last" type="text" placeholder="Enter your last name..." size="70"  id="last-name"/>
            <input name="email" type="text" placeholder="Enter your email address..." size="70"  id="mail"/>
            <input name="password" type="password" placeholder="Enter a password..." size="70"  id="password"/>
            <input name="cpassword" type="password" placeholder="Confirm password..." size="70"  id="cpassword"/>
            <input type="hidden" id="redirect" name="redirect" value="{{.RedirectURL}}">
            <ul class="actions">
              <li><input type="submit" value="Sign Up"></li>
            </ul>
        </form>
      </div>
    </div>
    <div id="login-right">
      {{template "pencil"}}
    </div>
  </div>




</div>
</body>
</html>
{{end}}