{{define "svg-tpl-user-tpl-menu-links"}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    {{template "svg-email"}}
    {{template "svg-password"}}
    {{template "svg-session"}}
    {{template "svg-purchases"}}
    {{template "svg-revenue"}}
    {{template "svg-teaching"}}
    {{template "svg-file"}}
</svg>
    <!-- NOT NEEDED AS THEY'RE IN svg-tpl-header.gohtml -->
    <!--user-->
    <!--academics-svg-->
{{end}}