{{define "svg-tpl-login"}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    {{template "svg-close"}}
    {{template "svg-dropbox"}}
    {{template "svg-google"}}
    {{template "svg-github"}}
</svg>
{{end}}
