{{define "svg-tpl-index"}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    {{template "svg-revenue"}}
    {{template "svg-preview"}}
    {{template "svg-creative"}}
    {{template "svg-g-logo-surrounded"}}
</svg>
{{end}}
